

<div class="container">
  <h1>Estadísticas de los jugadores</h1>
  <table  id="tableStats">
    <thead>
      <tr class="bg-primary text-white">
        <th>Jugador</th>
        <th>Titularidades</th>
        <th>Suplencias</th>
        <th>Minutos jugados</th>
        <th>Faltas generadas</th>
        <th>Faltas cometidas</th>
        <th>Penaltis generados</th>
        <th>Penaltis cometidos</th>
        <th>Robos de balon</th>
        <th>Perdidas de balon</th>
        <th>Ocasiones generadas</th>
        <th>Ocasiones concedidas</th>
        <th>Cornes generados</th>
        <th>Corners concedidos</th>
        <th>Gol</th>
        <th>Gol PP</th>
        <th>Parada</th>

        <!-- <th *ngFor="let a of ACTIONS">{{a.description}}</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of players" [ngClass]="{ 'selected-row': isSelected(p) }">
        <th>{{p.name}} {{p.surname}}</th>

        <td>{{obtenerTitularidades(p.id)}}</td>
        <td>{{obtenerPartidosJugados(p.id)}}</td>
        <td>{{obtenerMinutosJugados(p.id)}}</td>

        <td *ngFor="let a of ACTIONS">{{selectStat(p.dni, a.name)}}</td>

      </tr>
      <!-- Agrega más filas aquí si es necesario -->
    </tbody>
  </table>
</div>

<div class="text-center">
  <button type="button" class=" btn-primary" (click)="fireEvent()">
    Descargar Excel
   </button>
</div>






