
  <h1>Análisis del partido contra: {{toAnalizeMatch.visitantTeam.name}}</h1>
  <div class="row form-group">
    <video autoplay class=" col-8" src={{getVideo(toAnalizeMatch.id)}} width="720px"
      height="480px" controls preload="none" id="video" >
    </video>
    <div class="container col scrollable-list">
          <div class="list-group " *ngFor="let action of toAnalizeMatch.actions">
            <div class="row">
              <button class="list-group-item col-8" style="font-size:small;"
                (click)="irAMinuto(action.min)">{{obtenerMin(action.min)}}': {{action.type}} -> {{action.player.name}} {{action.player.surname[0]}}.
              </button>
              <button type="button" class="col-2 btn-sm btn-danger" (click)="deleteAction(action)">
                <span class="btn-label"><i class="fa fa-remove"></i></span>
              </button>
            </div>
          </div>
    </div>
  </div>




<div class="col-md-12 ">
  <div>
    <form #addForm="ngForm" name="add-action-form" id="add-action-form" (ngSubmit)="onAddAction(addForm)">
      <div class="row form-group col-8">
          <label for="type" style="font-size: medium;">Tipo de Acción: </label>
          <select id="type" ngModel name="type" class="form-control col-3 mr-auto ml-auto" required>
            <option selected> Ninguna </option>
            <option *ngFor="let a of actionTypes" [value]="a.name" > {{a.description}} </option>
          </select>
          <label for="jugador" style="font-size: medium;"> Jugador: </label>
          <select id="player" ngModel name="player" class="form-control col-2 mr-auto ml-auto" required>
            <option *ngFor="let player of toAnalizeMatch.localTeam?.players" value={{player.dni}}>{{player.name}}
            </option>
          </select>
          <button  [disabled]="addForm.invalid" type="submit" class="btn col-3 btn-primary mr-auto ml-auto">
             <span class="btn-label"><i class="fa fa-plus"></i></span>Añadir</button>
      </div>

      <div>

      </div>

    </form>

  </div>



</div>

<div class="photo-gallery">
<div class="container" *ngIf="toAnalizeMatch.actions != null && toAnalizeMatch.actions.length > 0">
  <div class="intro">
      <h2 class="text-center">Galería del partido </h2>
  </div>
  <div class="row photos">
      <div *ngFor="let action of toAnalizeMatch.actions" class="col-sm-6 col-md-4 col-lg-3 item">
        <h4 class="text-center"> {{action.type}} -> {{action.player.name}} {{action.player.surname[0]}}</h4>
        <a *ngIf="action.imgSrc != null" data-lightbox="photos"><img class="img-fluid" [src]="getFoto(action.imgSrc)" (click)="openImgPopup(getFoto(action.imgSrc))"></a>
        <div class="progress" *ngIf="action.imgSrc == null">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
  </div>
</div>


<!-- Coloca este código al final del archivo -->
<div class="popup" *ngIf="popupVisible" (click)="closePopup()">
  <app-photo-editor [imageUrl]="popupImageSrc ? popupImageSrc : '' " class="row" ></app-photo-editor>
</div>

</div>



